<div class="mt-5">
    <h1 class="h1-store">Sản phẩm của tôi</h1>

    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">description</th>
                <th scope="col">slug</th>
                <th scope="col">Giá</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td><img with="120" height="80" class="img-show"
                        src="{{this.image}}"></td>
                <td>{{this.description}}</td>
                <td>{{this.slug}}</td>
                <td>{{this.price}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/products/{{this._id}}/sua" class="btn
                        btn-primary">Sửa</a>
                </td>
                <td>
                    <!--form delete -->
                    <a href="" class="btn btn-danger" data-toggle="modal"
                        data-id="{{this._id}}"
                        data-target="#delete-product-modal">Xoá</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div id="delete-product-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có muốn xoá sản phẩm này?</p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Huỷ</button>
                <button id="btn-delete-product" type="button" class="btn
                    btn-danger">Xoá bỏ</button>
            </div>
        </div>
    </div>
</div>


<!--form delete -->
<form name="delete-product-form" method="POST">

</form>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var productId;
         $('#delete-product-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            productId = button.data('id');
            var deleteForm = document.forms['delete-product-form'];
            var btnDeleteProduct = document.getElementById('btn-delete-product');
            btnDeleteProduct.onclick = function() {
            deleteForm.action = '/products/' + productId + '?_method=DELETE';
            deleteForm.submit();
        }
        });
       
    

    });
</script>